<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoyu.thesis.media.biz.model.mapper.SfuNodePOMapper">
  <resultMap id="BaseResultMap" type="com.theoyu.thesis.media.biz.model.entity.SfuNodePO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="grpc_port" jdbcType="INTEGER" property="grpcPort" />
    <result column="http_port" jdbcType="INTEGER" property="httpPort" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="current_load" jdbcType="INTEGER" property="currentLoad" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, instance_id, ip_address, grpc_port, http_port, region, `status`, current_load, 
    created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sfu_node
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sfu_node
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.theoyu.thesis.media.biz.model.entity.SfuNodePO">
    insert into t_sfu_node (id, instance_id, ip_address, 
      grpc_port, http_port, region, 
      `status`, current_load, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{instanceId,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{grpcPort,jdbcType=INTEGER}, #{httpPort,jdbcType=INTEGER}, #{region,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{currentLoad,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.theoyu.thesis.media.biz.model.entity.SfuNodePO">
    insert into t_sfu_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="grpcPort != null">
        grpc_port,
      </if>
      <if test="httpPort != null">
        http_port,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="currentLoad != null">
        current_load,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="grpcPort != null">
        #{grpcPort,jdbcType=INTEGER},
      </if>
      <if test="httpPort != null">
        #{httpPort,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="currentLoad != null">
        #{currentLoad,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.theoyu.thesis.media.biz.model.entity.SfuNodePO">
    update t_sfu_node
    <set>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="grpcPort != null">
        grpc_port = #{grpcPort,jdbcType=INTEGER},
      </if>
      <if test="httpPort != null">
        http_port = #{httpPort,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="currentLoad != null">
        current_load = #{currentLoad,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.theoyu.thesis.media.biz.model.entity.SfuNodePO">
    update t_sfu_node
    set instance_id = #{instanceId,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      grpc_port = #{grpcPort,jdbcType=INTEGER},
      http_port = #{httpPort,jdbcType=INTEGER},
      region = #{region,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      current_load = #{currentLoad,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>