{
	"semi": false,
	"singleQuote": true,
	"printWidth": 180,
	"tabWidth": 4,
	"useTabs": true,
	"endOfLine": "auto",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"vueIndentScriptAndStyle": false,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"embeddedLanguageFormatting": "auto"
}
