# IDE
.idea/
.vscode/
.github/
*.swp
*.swo
*~
# demo
mediasoup-demo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/
target/

# Environment
.env
.env.local